
body{
    background: linear-gradient(40deg, rgb(77,77,77), rgb(58,58,58));
    color: rgb(121, 120, 118);
}
#page-logo a{
    color: rgb(183, 230, 235);
}
header{
    position: static;
}
header a{
    color: rgb(183, 230, 235);
}
header nav a:hover{
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
}
main ul{
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}
main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}
main li img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.actions{
    text-align: end;
}
.actions a{
      color: rgb(22, 211, 228);
      text-decoration: none;   
      padding: 6px;
      border-radius: 5px;
}
.actions a:hover{
    background-color: rgb(235, 253, 255); 
}
li:nth-of-type(3)
{
    grid-column: 1 / span 2;
   /* width: 1200px;*/
}
/*.accions{
    display: flex;
    justify-content: flex-end;
    padding: 24px 0 0 0;
}*/
/*main a:hover{
background-color: rgb(212, 249, 255);   
padding: 8px; 
box-shadow: 1px 1px 4px rgb(105, 218, 212);
border-radius: 6px;
}*/
