body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
header ul{
  display: flex;  
}
header li{
    margin-left: 20px;
}
#page-logo a{
    padding: 10px;
    font-family: "oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
footer{
    background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
}
footer li{
    width: 80px;
    height: 80px;
    padding: 40px;
}
footer ul{
    display: flex;
    justify-content: center;
    margin: 0 50px;
}
footer img{
    width: 100%;
    height: 100%;
}