#hero{
    height: 800px;
    background-image: url("../Section7_understanding_HTML_CSS_layouts_positioning/images/plases/ocean.jpg");
    background-position: center;
    background-size: cover;
}
#hero-content{
    width: 900px;
    background-color: rgb(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: auto;
    position: relative;
    top: 200px;
}
#hero-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    font-family: "Raleway", sans-serif ;
}
#hero-content p{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 300px ;
    margin-bottom: 32px;
}
#hero-content a{
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
}
#hightlights{
    padding: 24px;
    background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
#hero-content a:hover{
    background-color: rgb(255, 238, 0);
}
header a{
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
    border-radius: 6px;
}
header a:hover{
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
}
#hightlights h2{
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65, 64);
    text-transform: uppercase;
    margin: 24px 0;
}
#Destinations{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    
}
.Destinations{
    margin: 0 20px;
    text-transform: uppercase;
}
.Destinations p{
    text-align: center;
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 20px 0;
}
.Destinations img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    object-fit: cover;
}
.Destinations strong{
    color: rgb(0, 160, 117);
}